dj-database-url
Cython==0.20.2
Django
MySQL-python==1.2.3
Pillow==2.3.0
beautifulsoup4==4.3.2
django-tastypie==0.12.0
djangorestframework==2.4.3
numpy==1.8.2
oauthlib==0.6.1
psycopg2==2.5.4
pyOpenSSL==0.13
pycrypto==2.6.1
pycurl==7.19.3
python-nmap==0.3.4
requests==2.2.1
urllib3==1.7.1
wsgiref==0.1.2
feedparser==5.1
gunicorn
lxml==2.3.3
python-dateutil==1.5
python-sunlightapi==1.1.0
django-push-notifications
django-uuidfield
simplejson
