.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}
body {
    font-family: Montserrat;
}
.input {
    border-radius: 0px;
    border-width: 1px;
    border-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input:active, .input:focus{
    border-width: 2px;
    border-color: black;
    box-shadow: none !important;
}

.panel {
	margin-bottom: 2em;
	border-radius: 0;
}
.panel-default > .panel-heading {
	line-height: 3em;
	border-radius: 0;
	border-bottom: 1px black solid;
	background-color: black;
}
.panel-default {
	border: 1px black solid;
}
.panel-title {
	font-size: 1.5em;
	font-weight: 400;
	color: white;
}
.panel-body {
	padding: 0 15px;
}

.center-block {
    display: block !important;
}
.submit-button {
    padding:10px;
    margin-bottom: 10px;
}

.alert-danger {
    border-color: black;
    border-radius: 0;
    background-color: white;
    color: black;
    font-size: 20px;
}

.img-gray {
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    border: 1px solid black;
}
.img-gray:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.btn-modal {
    padding: 6px 12px;
    width: auto !important;;
}
.modal-content {
    border-radius: 0;
    border: 1px solid black;
    box-shadow: none;
}
.modal-header {
    color: white;
    background: black;
    border-bottom: black;
}

.vertical-parent {
    display: table;
}

.vertical-align {
    display: table-cell;
    vertical-align:middle;
}

.tooltip-inner {
    border-radius: 0;
}
.thread-title {
    font-size: 1.2em;
}
.profile-link, .thread-title {
	color: black;
}

.profile-link:hover, .thread-title:hover {
    color:black;
	text-decoration: underline;
}

.paddings {
    padding: 20px;
}

.thread {
    border-top:1px black solid;
    padding: 15px;

}

.active {
    background: black !important;
    border-radius: 0 !important;
}
.datepicker {
    border: 1px solid black !important;
    border-radius: 0 !important;
}

.avatar3
{
    max-width: 50%;
}

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url('../image/caret.png');
    padding: .5em;
    padding-right: 1.5em
}

#category_slug{
    border-radius: 0
}