{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css"%}">
{% endblock %}
{% block body_block %}
	<div class="row">
		<div class="col-lg-3 col-lg-offset-2 center">
            <img src="{% static "image/404.png" %}" style="max-width: 15em">
		</div>
        <div class="col-lg-5 center">
            <div style="font-family: Montserrat;font-size: 9em;color: #000000">404</div>
            <br>
            <div style="font-family: Montserrat;font-size: 2em;color: #000000">Seems like you lost your way</div>
            <br>
            <a href="/" style="font-family: Montserrat;font-size: 2em;color: #000000">Take me back to home</a>
		</div>
	</div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static "js/home.js" %}"></script>
{% endblock %}
