{% extends 'base.html' %}
{% load static from staticfiles %}
{% load app_filters %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css"%}">
{% endblock %}
{% block body_block %}
    <div class="row new-thread">
		<div class="col-lg-10 col-lg-offset-1 center">
          <a class="breadcrumb-link pull-left" href="/">Home</a>
          <i class="breadcrumb-arrow fa fa-long-arrow-right pull-left"></i>
          <a class="breadcrumb-link pull-left" href="">{{ categories.0 }}</a>
        </div>
    </div>
    <div class="row new-thread">
		<div class="col-lg-10 col-lg-offset-1 center">

            {% if paginated_threads.has_previous %}
                <a class="btn btn-black prev-btn" href="?page={{ paginated_threads.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ paginated_threads.number }} of {{ paginated_threads.paginator.num_pages }}
            </span>

            {% if paginated_threads.has_next %}
                <a  class="btn btn-black next-btn" href="?page={{ paginated_threads.next_page_number }}">Next</a>
            {% endif %}
	    </div>
    </div>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
            {%  if categories %}
                {% for category in categories %}
                    <div class="category panel panel-default">
                      <div class="panel-heading">
                        <div class="row no-margin">
                            <span class="panel-title">{{ category.name }}</span>
                            <a class="pull-right btn btn-white" href="{% if user.is_authenticated %} /new-thread?category={{ category.slug }} {% else %} /login{% endif %}">New Thread</a>
                        </div>
                      </div>
                      <div class="panel-body">
                          {% if threads %}
                              {% for thread in threads %}
                                <div class="row thread">
                                    <a class="thread-title" href="thread/{{ thread.0.slug }}">{{ thread.0.title }}</a>
                                    {% if thread.0.pinned %}
                                        <span class="pinned">Pinned</span>
                                    {% endif %}
                                    {% if thread.0.locked %}
                                        <span class="pinned">Locked</span>
                                    {% endif %}
                                    <div class="sub-title">Posted By : <a href="/profile/{{ thread.0.op.user.username }}" class="profile-link">{{ thread.0.op.user.username }}</a> on {{ thread.0.date|date:'d-M-Y' }}</div>
                                    <div class="sub-title">Replies : {{ thread.1 }}</div>
                                </div>
                              {% endfor %}
                          {% else %}
                              <div class="row thread">
                                   <div class="thread-title center">No Threads Found!</div>
                              </div>
                          {% endif %}
                      </div>
                    </div>
                {% endfor %}
            {% endif %}
		</div>
	</div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static "js/home.js" %}"></script>
{% endblock %}
