{% extends 'base.html' %}
{% load static from staticfiles %}
{% load app_filters %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css"%}">
{% endblock %}
{% block body_block %}
    <div class="row new-thread">
		<div class="col-lg-10 col-lg-offset-1">
            {% if member and user.is_authenticated and member.type == 2  %}
                <a class="pull-right btn btn-black" href="new-category" style="margin-left: 1em;" data-toggle="modal" data-target="#addCategory">New Category</a>
            {% endif %}
			<a class="pull-right btn btn-black" href="{% if user.is_authenticated %} /new-thread {% else %} login{% endif %}">New Thread</a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
            {%  if categories %}
                {% for category in categories %}
                    <div class="category panel panel-default">
                      <div class="panel-heading">
                        <div class="row no-margin">
                            <span class="panel-title">{{ category.name }}</span>
                            <a class="btn btn-white pull-right" href="category/{{ category.slug }}">View All</a>
                        </div>
                      </div>
                      <div class="panel-body">
                          {% if top_threads|lookup:category.pk %}
                              {% for thread in top_threads|lookup:category.pk %}
                                <div class="row thread">
                                    <a class="thread-title" href="/category/{{ category.slug }}/thread/{{ thread.0.slug }}">{{ thread.0.title }}</a>
                                    {% if thread.0.pinned %}
                                        <span class="pinned">Pinned</span>
                                    {% endif %}
                                    {% if thread.0.locked %}
                                        <span class="pinned">Locked</span>
                                    {% endif %}
                                    <div class="sub-title">Posted by : <a href="/profile/{{ thread.0.op.user.username }}" class="profile-link">{{ thread.0.op.user.username }}</a> on {{ thread.0.date|date:'d-M-Y' }}</div>
                                    <div class="sub-title">Replies : {{ thread.1 }}</div>
                                </div>
                              {% endfor %}
                          {% else %}
                              <div class="row thread">
                                    <div class="thread-title center">No Threads Found!</div>
                              </div>
                          {% endif %}
                      </div>
                    </div>
                {% endfor %}
            {% endif %}
		</div>
	</div>
  {% if user.is_authenticated and member and member.type == 2  %}
      <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="deleteModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn btn-white btn-modal pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="aboutModalLabel">Add a New Category</h4>
          </div>
          <form method="POST" action="/add-category/">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                  {% csrf_token %}
                  <input data-toggle="tooltip" data-placement="right" id="category" class="input form-control input-lg" type="text" name="category" placeholder="Category Name">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-black" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-black">Add</a>
          </div>
          </form>
        </div>
      </div>
    </div>          
  {% endif %}
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static "js/home.js" %}"></script>
{% endblock %}
