{% extends 'base.html' %}
{% load static from staticfiles %}
{% load app_filters %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/app.css"%}">
{% endblock %}
{% block body_block %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            {% if status %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    {{ status }}
                </div>
            {% endif %}
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    {{ error }}
                    {% if resend_email_form %}
                        <form method="POST" action="/verify/" style="display: inline-block;">
                            {% csrf_token %}
                            <input type="hidden" name="user_username" value="{{ user_username }}">
                            <input class="btn btn-black" type="submit" value="Resend">
                        <form>
                    {% endif %}
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Login</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="POST">
                            {% csrf_token %}
                            <input data-toggle="tooltip" data-placement="right" id="username" class="input form-control input-lg" type="text" name="username" placeholder="Username">
                            <input data-toggle="tooltip" data-placement="right" id="pass" class="input form-control input-lg" type="password" name="password" placeholder="Password">
                            {% if next %}
                                <input type="hidden" name="next" value="{{ next }}">
                            {% endif %}
                            <input id="submit" class="disabled center-block submit-button form-control btn-black center" disabled type="submit" name="login" value="Login">
                            <a class="center-block center footer-link" href="/forgot-password/">Forgot Password</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{%  block extra_js %}
    <script type="text/javascript" src="{%   static 'js/authentication.js' %}"></script>
    <script type="text/javascript" src="{%   static 'js/login.js' %}"></script>
{% endblock %}